@tailwind base;
@tailwind components;
@tailwind utilities;

/* Product Description Page Animation start */

/* Testimonials Section */

.testimonial-container {
    position: relative;
    overflow: hidden;
}

.testimonial {
    transition: all 0.5s ease;
    opacity: 0.7;
    transform: scale(0.9);
}

.testimonial.active {
    opacity: 1;
    transform: scale(1.1);
}

.quote {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    pointer-events: none;
}

.quote.active {
    opacity: 1;
}


/* Product Description Page Animation end */


/* @layer base;
.cards{
    @apply col-start-1 col-end-5 p-10 row-start-2 bg-orange-200 w-full  h-60 flex flex-col  items-center gap-4;
} */